<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jzjf.app"
    android:versionCode="5"
    android:versionName="1.3" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- 极光推送权限 -->
    <permission
        android:name="com.jzjf.app.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.jzjf.app.permission.JPUSH_MESSAGE" />


    <!-- 官方定义的权限，允许应用接收JPUSH内部代码发送的广播消息。 -->
    <uses-permission android:name="RECEIVE_USER_PRESENT" />
    <!-- 允许应用可以接收点亮屏幕或解锁广播。 -->
    <uses-permission android:name="INTERNET" />
    <!-- 允许应用可以访问网络。 -->
    <uses-permission android:name="WAKE_LOCK" />
    <!-- 允许应用在手机屏幕关闭后后台进程仍然运行 -->
    <uses-permission android:name="READ_PHONE_STATE" />
    <!-- 允许应用访问手机状态。 -->
    <uses-permission android:name="WRITE_EXTERNAL_STORAGE" />
    <!-- 允许应用写入外部存储。 -->
    <uses-permission android:name="READ_EXTERNAL_STORAGE" />
    <!-- 允许应用读取外部存储。 -->
    <uses-permission android:name="WRITE_SETTINGS" />
    <!-- 允许应用读写系统设置项。 -->
    <uses-permission android:name="VIBRATE" />
    <!-- 允许应用震动。 -->
    <uses-permission android:name="MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 允许应用挂载/卸载 外部文件系统。 -->
    <uses-permission android:name="ACCESS_NETWORK_STATE" />
    <!-- 允许应用获取网络信息状态，如当前的网络连接是否有效。 -->
    <uses-permission android:name="SYSTEM_ALERT_WINDOW" />
    <!-- 允许应用显示系统窗口，位于显示的顶层。 -->

    <application
        android:name="com.sft.common.BlackCatApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:theme" >
        <activity
            android:name="com.sft.blackcatapp.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 支付測試 -->
        <activity android:name="com.sft.alipay.PayDemoActivity" >
        </activity>
        <activity
            android:name="com.sft.blackcatapp.GuideActivity"
            android:screenOrientation="portrait" />
         <activity
            android:name="com.sft.blackcatapp.MoneyRecord"
            android:screenOrientation="portrait" />
        
        <activity
            android:name="com.sft.blackcatapp.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AnimActivityTheme" />
        <activity
            android:name="com.sft.blackcatapp.NewLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AnimActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.sft.blackcatapp.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.sft.blackcatapp.OldMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.RegisterNextActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.FindPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.ApplyAct"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.EnrollCoachActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.CoachDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.SchoolDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.NewEditPersonInfo"
            android:screenOrientation="portrait" />
        
          <activity
            android:name="com.sft.blackcatapp.IntegralHelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.EnrollSchoolActivity"
            android:screenOrientation="portrait" />
        <!-- 搜索驾校 -->
        <activity
            android:name="com.sft.blackcatapp.EnrollSchoolActivity1"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.EnrollActivity"
            android:screenOrientation="portrait" />

        <!-- 新增 -->
        <activity
            android:name="com.sft.blackcatapp.EnrollNextActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.TestingPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.TestingMsgActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.TestingCommit"
            android:screenOrientation="portrait" />
        <!-- 新增(end) -->
        <activity
            android:name="com.sft.blackcatapp.EnrollClassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.OrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.EnrollCarStyleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.EnrollSuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.MapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.MyComplaintAct"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.EnrollVerifyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.AppointmentCarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.ShuttleAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.PersonCenterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.EditPersonInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.ChangeSignActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.CropImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.ApplyDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.ChangeAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.ChangePhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.CallBackActivity"
            android:windowSoftInputMode="stateAlwaysVisible"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.SettingHelp"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.MyFavouriteActiviy"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.FavouriteCoachActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.FavouriteSchoolActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.QuestionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.MyAppointmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.AppointmentDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.ComplainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.CommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.CancelAppointmentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name="com.sft.blackcatapp.ChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.sft.blackcatapp.StudentInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.CourseActivity"
            android:screenOrientation="portrait" />
        <!-- 钱包 -->
        <activity
            android:name="com.sft.blackcatapp.MyWalletActivity"
            android:screenOrientation="portrait" />
         <activity
            android:name="com.sft.blackcatapp.NewConfirmOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.Walletintegral"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.Walletcoupons"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.Walletmoney"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.YCodeListActivity"
            android:screenOrientation="portrait" />
          <activity
            android:name="com.sft.blackcatapp.CaptureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.SubjectOneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.SubjectTwoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.SubjectThreeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.SubjectFourActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.SubjectEnrollActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.sft.blackcatapp.MyCoachActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.ClassDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.AppointmentMoreCoachActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.ConfirmStudyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.AudioPlayHtmlActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated="true" />
        <activity
            android:name="com.sft.blackcatapp.PlayVideoMediaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.MallActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.TermsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.ProductOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.ProductDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.MessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.ProductOrderSuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.SystemPushActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.AudioPlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensor" />
        <activity
            android:name="com.sft.blackcatapp.MyWalletInviteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleActivity" >
        </activity>
        <activity
            android:name="com.sft.emchat.ContextMenu"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle" />
        <activity
            android:name="com.sft.emchat.BaiduMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.emchat.AlertDialog"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle" />
        <activity
            android:name="com.sft.emchat.ShowBigImage"
            android:screenOrientation="portrait" />
        
        
        <activity
            android:name="com.sft.emchat.ShowVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.emchat.ShowNormalFileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.YiBuIntroduceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.SearchCoachActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.ApplyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.sft.blackcatapp.ActivitiesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FloatActivity" />
        <activity
            android:name="com.sft.blackcatapp.TodaysAppointmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.NewComplaintActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name="com.sft.blackcatapp.QRCodeCreateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.PhotographActivity"
            android:screenOrientation="portrait" />
          <activity
            android:name="com.sft.blackcatapp.ExamSussess"
            android:screenOrientation="portrait" />
        
        <activity
            android:name="com.sft.blackcatapp.NewCropImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.TestingApplyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.SchoolBusRouteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.NewActivitysActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.blackcatapp.EnrollSubjectActivity"
            android:screenOrientation="portrait" />
        <!-- 设置帮助 -->
        <activity
            android:name="com.sft.blackcatapp.HelpGuideActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.sft.blackcatapp.HelpExamActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.sft.blackcatapp.HelpNewcomerActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.sft.blackcatapp.HelpProblemActivity"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 个人中心 -->
        <activity
            android:name="com.sft.blackcatapp.NewPersonCenterAct"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.sft.blackcatapp.FindPasswordAct"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 确认订单 -->
        <activity
            android:name="com.sft.blackcatapp.ConfirmOrderActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 钱包 -->
        <activity
            android:name="com.sft.blackcatapp.WalletActivity"
            android:screenOrientation="portrait" >
            </activity>
         <!-- 解压 -->
        <activity
            android:name="com.sft.jieya.JieYaMainActivity"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="com.sft.blackcatapp.WebViewActivitys"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 折扣券 验证 -->
        <activity
            android:name="com.sft.blackcatapp.CheckDiscodeAct"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 学车秘籍 -->
        <activity
            android:name="com.sft.blackcatapp.LearnCarCheatsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 咨询答疑 -->
        <activity
            android:name="com.sft.blackcatapp.ConsultationlActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 我要提问 -->
        <activity
            android:name="com.sft.blackcatapp.ConsultationAskActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 我要约考 -->
        <activity
            android:name="com.sft.blackcatapp.AppointmentExamActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <activity
            android:name="com.sft.blackcatapp.AppointmentExamPreActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <!-- 选择城市 -->

        <activity
            android:name="com.sft.city.Act_City"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 兑换劵使用记录 -->
        <activity
            android:name="com.sft.blackcatapp.RecordActivity"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="com.sft.blackcatapp.MyOrderAct"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.sft.blackcatapp.OrderApplyAct"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.sft.blackcatapp.OrderExchangeGoodAct"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 兑换商品订单详情 -->
        <activity
            android:name="com.sft.blackcatapp.ExchangeDetailAct"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.sft.blackcatapp.SchoolAllCoachActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sft.dialog.BonusDialog"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BonueDialog" />

        <!-- 预约成功 列表 -->
        <activity
            android:name="com.sft.blackcatapp.SussessOrderActvity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.sft.blackcatapp.AppointmentExamSuccessActivity"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity 
            android:name="com.sft.blackcatapp.ExerciseOrderAct"
            android:screenOrientation="portrait"
            ></activity>
        
        <activity 
            android:name="com.sft.blackcatapp.MyOrderActivity"
            android:screenOrientation="portrait"
            ></activity>
        
        <activity 
            android:name="com.sft.blackcatapp.SectionActivity"
            android:screenOrientation="portrait"
            ></activity>

        <service android:name="com.sft.util.DownLoadService" />

        <!-- 微信支付 -->

        <activity
            android:name="com.jzjf.app.wxapi.WXPayEntryActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <receiver android:name=".wxapi.AppRegister" >
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>
        <!-- 阿里支付 -->
        <!-- 支付宝支付 Web版本============================================================ -->

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>

        <!-- 极光推送 ======================================================================== -->
        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.jzjf.app" />
            </intent-filter>
        </activity>
        <service 
            android:name="cn.jpush.android.service.DaemonService"
            >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <category android:name="com.jzjf.app"/>
            </intent-filter>
            
        </service>
        
        <!-- Required  SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <!-- Required SDK 核心功能 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter android:priority="1000" >
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <!-- Required  显示通知栏 -->
                <category android:name="com.jzjf.app" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name="com.sft.receiver.PushReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" />
                <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.jzjf.app" />
            </intent-filter>
        </receiver>

        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <!-- 设置推送应用的appkey d9f9dc8db6bc3dd2c913ced0 test:a9d3780a093c23df7e3e2402 new:3ed0386d38153e3768ef0f26 -->
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="3ed0386d38153e3768ef0f26" />
        <!-- </>值来自开发者平台取得的AppKey -->
        <!-- 推送 ======================================================================== -->


        <!-- 设置环信应用的appkey black-cat#yibuxuecheprod black-cat#yibuxuechetest -->
        <!-- black-cat#jizhijaifu -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="black-cat#jizhijaifu" />
        <!-- 声明sdk所需的service -->
        <service android:name="com.easemob.chat.EMChatService" />

        <!-- 百度地图定位 ======================================================================== -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="qL73msVaTCd8gUdfn5PVKG6T" />
        <!-- 极致假付  qL73msVaTCd8gUdfn5PVKG6T -->
        <!-- 之前版本： UUXsBU2Tq3LETedPZVpxuxQG -->
        <!-- 现在版本： nCxRAoooo6Pe3yeMG6iDK5aW -->

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:exported="false"
            android:process=":remote" >
        </service>

        <!-- 友盟分享=============================================================== -->
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56d269df67e58ef73900068a" >

            <!-- new:56d269df67e58ef73900068a -->
        </meta-data>
        <!-- 微信 -->

        <activity
            android:name="com.sft.blackcatapp.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.sft.blackcatapp.WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 新浪微博 -->
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1105134894" />
            </intent-filter>
        </activity>
        <!-- QQ、Qzone -->
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service
            android:name="com.sina.weibo.sdk.net.DownloadService"
            android:exported="false" >
        </service>

        <!-- bug日志上传 ======================================================================== -->
        <meta-data
            android:name="URI"
            android:value="http://123.56.133.44:3232/BugManager/crashlog/appCrashUpload" />
    </application>

</manifest>